<?xml version='1.0' encoding='utf-8'?>
<menu>
	<parent>
		<title>文件</title>
		<command>6000</command>
		<child>
			<title>打开</title>
			<command>6001</command>
		</child>
		<child>
			<title>选择打开</title>
			<command>6002</command>
		</child>
		<child>
			<title>发送</title>
			<command>6003</command>
		</child>
		<child>
			<title>特性</title>
			<command>6004</command>
		</child>
		<child>
			<title>属性</title>
			<command>6005</command>
		</child>
		<child>
			<title>删除</title>
			<command>6006</command>
		</child>
		<child>
			<title>强力删除</title>
			<command>6007</command>
		</child>
		<child>
			<title>重命名</title>
			<command>6008</command>
		</child>
		<child>
			<title>新建文件夹</title>
			<command>6010</command>
		</child>				
		<child>
			<title>新建文件</title>
			<command>6011</command>
		</child>	
	</parent>
	<parent>
		<title>编辑</title>
		<command>7000</command>
		<child>
			<title>复制</title>
			<command>7001</command>
		</child>
		<child>
			<title>剪切</title>
			<command>7002</command>
		</child>
		<child>
			<title>粘贴</title>
			<command>7003</command>
		</child>
		<child>
			<title>清空粘贴板</title>
			<command>7005</command>
		</child>				
	</parent>
	<parent>
		<title>标记</title>
		<command>8000</command>
		<child>
			<title>标记/取消</title>
			<command>8001</command>
		</child>
		<child>
			<title>标记全部</title>
			<command>8002</command>
		</child>
		<child>
			<title>全部取消</title>
			<command>8003</command>
		</child>
		<child>
			<title>反向选择</title>
			<command>8004</command>
		</child>	
		<child>
			<title>通配符标记</title>
			<command>8005</command>
		</child>		
	</parent>
	<parent>
		<title>其他命令</title>
		<command>9000</command>
		<child>
			<title>刷新</title>
			<command>9001</command>
		</child>			
	</parent>		
	<parent>
		<title>搜索文件</title>
		<command>9100</command>
	</parent>
	<parent>
		<title>工具</title>
		<command>9200</command>		
		<child>
			<title>设置</title>
			<command>9201</command>
		</child>
		<child>
			<title>更多软件</title>
			<command>9202</command>
		</child>
		<child>
			<title>关于</title>
			<command>9203</command>
		</child>
	</parent>
	<parent>
		<title>帮助</title>
		<command>9300</command>
	</parent>			
	<parent>
		<title>退出</title>
		<command>9500</command>
	</parent>
</menu>